/* global styles */

* {
  box-sizing: border-box;
}

body {
  /* font stack from https://css-tricks.com/snippets/css/font-stacks/ */
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref",
    sans-serif;
  font-size: 24px;
}

button {
  /* button reset from https://moderncss.dev/css-button-styling-guide/ */
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

  /* custom styling */
  border: 2px solid #555;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  color: #555;
  border-radius: 10rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: 150ms background, 150ms color, 150ms border-color, 150ms box-shadow ease;
  display: block;
}

button:disabled {
  color: #999;
  border-color: #999;
  cursor: initial;
}

button:hover:not(:disabled) {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.5);
  background: #555;
  border-color: #555;
  color: #fff;
}
